.carrito-img{
    height: 30px;
}

.button{
    background-color: rgb(236, 39, 39);
    border: none;
}
.link{
    text-decoration: none;
    color: white;
    align-items: center;
    
}

.text{
    color: white;
    margin-top: 40px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.total{
    display: flex;
    justify-content: center;
    color: white;
}